---
import Card from "@/components/ui/astro/Card.astro";
import type { WorkCardProps } from "@/types";
import { formatDate } from "@/lib/utils";

type Props = WorkCardProps;

const { cover, title, href, category, publishedAt } = Astro.props;
const Tag = href ? "a" : "div";
const isExternal = href?.startsWith("https");
---

<Tag
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener" : undefined}
  {title}
  class="group/card"
>
  <Card class="aspect-square overflow-hidden p-0">
    {
      cover ? (
        <img src={cover} alt={title} class="w-full h-full object-cover" />
      ) : (
        <div class="w-full h-full bg-muted-foreground/10" />
      )
    }
  </Card>
  <p class="text-xl font-bold uppercase mt-2 group-hover/card:underline">
    {title}
  </p>
  <div class="flex flex-col gap-1 mt-1">
    <span
      class="text-muted-foreground group-data-[variant=yellow]:text-black text-xs"
      >{category}</span
    >
    {
      publishedAt && (
        <span class="text-muted-foreground group-data-[variant=yellow]:text-black text-xs">
          {formatDate(publishedAt)}
        </span>
      )
    }
  </div>
</Tag>
