---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { ProseRenderer } from "@/components/ProseRenderer";
import type { Author } from "@/types";
import { BannerPoweredBy } from "@/components/PoweredBy";

interface Props {
  title: string;
  publishedAt?: string;
  cover: string | null;
  content: string;
  author: Author;
}

const { title, publishedAt, cover, content, author } = Astro.props;
---

<GridContainer class="mb-16">
  <GridTwo class="mb-8">
    <div class="col-span-full">
      <h1 class="text-3xl md:text-4xl font-bold uppercase">{title}</h1>

      <span
        class="flex items-center gap-2 text-sm text-muted-foreground mt-6"
        title="Updated At"
      >
        Posted {publishedAt}
      </span>
      <div class="flex items-center gap-2 mt-3">
        {
          author.avatar_url && (
            <img
              src={author.avatar_url}
              alt={`${author.first_name} ${author.last_name}`}
              class="w-6 h-6 rounded-full object-cover"
            />
          )
        }
        <span class="text-sm text-muted-foreground">
          {author.first_name}
          {author.last_name}
        </span>
      </div>
    </div>
  </GridTwo>

  <GridFour>
    <div class="col-span-full">
      {
        cover && (
          <div class="aspect-square relative md:aspect-video mb-8">
            <img src={cover} alt={title} class="object-cover w-full h-full" />
          </div>
        )
      }

      <ProseRenderer content={content} />

      <div class="pt-8">
        <a href="/plank">
          <BannerPoweredBy
            logoSrc="/plank-logo-w.svg"
            logoAlt="Plank CMS"
            text="Published via Plank CMS"
            mode="dark"
          /></a
        >
      </div>
    </div>
  </GridFour>
</GridContainer>
